table{
    
    width : 800px;
    height: auto;
}
Table > tbody > tr > th {
    background-color: rgb(42, 167, 42);
    text-align: left;
    padding : 10px;
    color : white;
}

Table>tbody>tr:nth-child(2n){
    background-color: gainsboro;
}

Table > tbody >tr:hover{
    background-color: bisque;
}

Table>tbody>tr>td{
    padding : 7px;
    color :rgb(34, 34, 34)
}
Table>tbody>tr>td:first-child{
    width : 50%;
}
Table>tbody>tr>td:last-child{
    width : 20%;
}

tbody *{
    font-family: sans-serif;
}