<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href = "layout.css">
    <title>Document</title>
</head>
<body>
    <header>
        <h1>City Gallery</h1>
    </header>
    <div class = "middle">
        <aside>
            Lodon<br/>Paris
        </aside>
        <article>
            <h2>London</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec lobortis ante vel tincidunt pellentesque. <br/>Vestibulum ac massa nec libero egestas semper a et purus.</p>


        </article>
    </div>
    <footer>Copyright @ W3Schools.com</footer>
</body>
</html>