html {
  background-image: url("earth_background.jpg");
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

video {
  display: none;
}

button#earth {
  position: absolute;
  bottom: 0;
  width: 100vw;
  height: 60vh;
  opacity: 0;
}
