<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href = "Layout.css" type = "text/css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Fuggles&family=Skranji&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <header>
        <nav class = "gnb">
            <ul>
                <li>
                    <a href = "#">
                        Web
                    </a>
                </li>
                <li>
                    Mobile
                </li>
                <li>
                    Game
                </li>
                <li>
                    Simulation
                </li>
                <li>
                    Data
                </li>
    
            </ul>
        </nav>
        <h1>
            Rint Development<br/>
            HTML5 + CSS3 Basic
        </h1>
        <nav class = "lnb">
            <ul>
                <li>
                    HTML5
                </li>
                <li>
                    CSS3
                </li>
                <li>
                    JavaScript
                </li>
                <li>
                    jQuery
                </li>
                <li>
                    Node.js
                </li>
    
            </ul>
        </nav>
    </header>
    <section>
        <article>
            <h3>Main Article</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur in magna libero. Sed nec pharetra nunc. Proin eget magna id ipsum eleifend cursus sit amet nec lectus. Nunc quis lacus magna. Aliquam blandit, sapien ut viverra fermentum, elit tortor ornare nisi, in luctus sem massa pulvinar turpis. Cras tincidunt dictum urna ut ultricies. Nullam diam nibh, pellentesque non laoreet ut, bibendum nec mauris. Maecenas pulvinar porttitor laoreet. Vivamus bibendum purus nisl, eget aliquam lectus. Maecenas justo libero, euismod sit amet suscipit eu, vulputate eget neque. Aliquam quam est, blandit nec iaculis non, suscipit vel nunc. Proin et odio aliquam erat pharetra accumsan et quis neque. Vivamus interdum accumsan leo eu adipiscing. Integer accumsan elit non turpis faucibus porttitor. Aliquam scelerisque nisi et turpis pretium at ultricies turpis pharetra.</p>
        </article>
        <article>
            <h3>Main Article</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur in magna libero. Sed nec pharetra nunc. Proin eget magna id ipsum eleifend cursus sit amet nec lectus. Nunc quis lacus magna. Aliquam blandit, sapien ut viverra fermentum, elit tortor ornare nisi, in luctus sem massa pulvinar turpis. Cras tincidunt dictum urna ut ultricies. Nullam diam nibh, pellentesque non laoreet ut, bibendum nec mauris. Maecenas pulvinar porttitor laoreet. Vivamus bibendum purus nisl, eget aliquam lectus. Maecenas justo libero, euismod sit amet suscipit eu, vulputate eget neque. Aliquam quam est, blandit nec iaculis non, suscipit vel nunc. Proin et odio aliquam erat pharetra accumsan et quis neque. Vivamus interdum accumsan leo eu adipiscing. Integer accumsan elit non turpis faucibus porttitor. Aliquam scelerisque nisi et turpis pretium at ultricies turpis pharetra.</p>
        </article>
        <article>
            <h3>Main Article</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur in magna libero. Sed nec pharetra nunc. Proin eget magna id ipsum eleifend cursus sit amet nec lectus. Nunc quis lacus magna. Aliquam blandit, sapien ut viverra fermentum, elit tortor ornare nisi, in luctus sem massa pulvinar turpis. Cras tincidunt dictum urna ut ultricies. Nullam diam nibh, pellentesque non laoreet ut, bibendum nec mauris. Maecenas pulvinar porttitor laoreet. Vivamus bibendum purus nisl, eget aliquam lectus. Maecenas justo libero, euismod sit amet suscipit eu, vulputate eget neque. Aliquam quam est, blandit nec iaculis non, suscipit vel nunc. Proin et odio aliquam erat pharetra accumsan et quis neque. Vivamus interdum accumsan leo eu adipiscing. Integer accumsan elit non turpis faucibus porttitor. Aliquam scelerisque nisi et turpis pretium at ultricies turpis pharetra.</p>
        </article>
        <aside>
            <input id = "first" type = "radio" name = "menuTab" checked="checked">
            <label for = "first">first</label>
            <input id = "second" type = "radio" name = "menuTab" >
            <label for = "second">second</label>                   
            <article class = "hidden">
                <ul>
                    <li>
                        <img src="https://via.placeholder.com/50x50"/> HTML5 Canvas
                    </li>
                    <li>
                        <img src="https://via.placeholder.com/50x50"/> HTML5 Audio
                    </li>
                    <li>
                        <img src="https://via.placeholder.com/50x50"/> HTML5 Video
                    </li>
                    <li>
                        <img src="https://via.placeholder.com/50x50"/> HTML5 Video 
                    </li>
                </ul>
            </article> 
            <article class = "hidden">
                <ul>
                    <li>
                        <img src="https://via.placeholder.com/50x50"/> CSS3 Transition
                    </li>
                    <li>
                        <img src="https://via.placeholder.com/50x50"/> CSS3 Animation
                    </li>
                    <li>
                        <img src="https://via.placeholder.com/50x50"/> CSS3 Border
                    </li>
                    <li>
                        <img src="https://via.placeholder.com/50x50"/> CSS3 Box
                    </li>
                </ul>
            </article>
        </aside>
    </section>
    
    <footer>
        <b>HTML5 + CSS3 Basic</b><br/>
        Website Layout Basic
    </footer>

    
</body>
</html>